.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.custom-border {
  border: 2px solid #5389c0; /* Cambia el color y el grosor del borde */
  border-radius: 39px;       /* Cambia el radio de las esquinas del borde */
}


.cardFor{
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
